properties([parameters([choice(choices: ['/home/ankits/', '/home', '/home/ankits/Desktop/', '/home/ankits/Downloads'], description: 'Choose any directory', name: 'Directory')])])

node{
    stage("select the directory"){
        echo "listing the files from directory"
        sh 'sudo ls $Directory'
    }
